<!DOCTYPE html>
<html ng-app="ErrorApp">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <script src="libs/angular.js"></script>
        <script src="libs/lodash.js"></script>
        <script src="js/error-app.js"></script>
        <script src="js/ccFormGroup.js"></script>
        <script src="js/FormGroupService.js"></script>
    </head>

    <body class="container">
        <cc-shell>
            <div class="row" ng-controller="MainController">
                <div>Hey {{someName}}.  <a class="btn btn-warning" ng-click="hackSomething()">Hack</a> <a class="btn btn-danger" ng-click="causeError()">Error</a></div>



                <ng-form name="name" class="form-group" ng-class="{'has-error':name.$invalid && (name.$dirty)}">
                    <label class="control-label" for="input">Name</label>
                    <div><input id="input" required ng-minlength="5" name="input" ng-model="someName" /></div>
                    <div class="error-text small text-danger" ng-show="name.input.$error.required && name.input.$dirty" >Required</div>
                    <div class="error-text small text-danger" ng-show="name.input.$error.minlength && name.input.$dirty" >Too Short</div>
                </ng-form>

                <cc-form-group label-text="'Name'"  error-text="errorText">
                    <input required ng-minlength="5" ng-maxlength="100" name="input" ng-model="otherName" />
                </cc-form-group>

                <cc-form-group label-text="'Name'"  error-text="errorText">
                    <input required ng-minlength="5" ng-maxlength="100" name="input" ng-model="otherName2" />
                </cc-form-group>

            </div>


        </cc-shell>



    </body>
</html>